# Node modules
node_modules/

# Dist files
dist/
lib/
package-lock.json
/docs/.vitepress/cache

# Test coverage files

# MacOS Desktop Services Store
.DS_Store

# Log files
*.log

# IDE setting files
.idea
.vscode